
<div class="bg-img">
  <h3 class="title">PriceShare app</h3>
  <h4 class="title">~have a good life with ポケカ~ </h4>
  <%= render partial: "shared/header" %>
</div>

<div class="wrapper">
  <%= render partial: "main_list" %>
</div>

<%= render "shared/footer" %>