
<div class="bg-img">
  <h3 class="title">PriceShare app（スマホ用サイト）</h3>
  <h4 class="title">~快適なポケカライフを~ </h4>
  <%= render partial: "shared/header" %>
</div>

<div class="wrapper">
  <%= render partial: "main_list" %>
</div>

<%= render "shared/footer" %>