/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
    
  /* header */ 

  .bg-img{
    text-align:  center;
    min-width: 100%;
    padding:  10px;
    border: solid 1px;
    background-color: #fffb0a;
  }

  .title{
    text-align: center;
  }
  
  .nav{
    margin: 5px 0 0 15px;
  }
  
  /* body */
  .wrapper{
    /* background-color: #80b7ff; */
  }
  
  html {
    font-size: 75%;
  }

  a.btn {
    padding: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 5px;
    color: #fff;
    background-color: green;
  }

  a.btn:hover {
    color: #fff;
    background: green;
  }

  table {
    border-collapse: collapse;
    border: 2px solid green;
    margin-left: auto;
    margin-right: auto;
  }

  table th, table td {
    border-style: solid dotted;
    border-width: 2px;
    border-color: green;
  }

  /* footer */
  .footer{
    text-align: center;
    border: solid 1px;
    background-color: #fffb0a;
  }
